@charset "UTF-8";
/* CSS Document */


/* BACKGROUND */

body {
	background: url('https://chabadorg.clhosting.org/media/images/996/SIJN9966914.jpg') !important;
	background-size: cover !important;
	background-attachment: fixed !important;
}
.baruch_hashem {
    filter: invert(.8);
}


/***************
*** TOP SITE ****
****************/

/* TOP LINKS */
#header_container .topBarLink {
	display: none;
}

/* SITE HEADER */
a.site_title {
	text-indent:-9999em;
	height: 110px;
	width: 300px;
}
body.cco_body #header_branding {
	background:url('https://chabadsutton.org/media/images/1227/YYxb12271209.png') no-repeat left center !important;
	height: 120px;
}


/* SEARCH BOX */
.dir_ltr #header_container .cco_search_header .co_global_submit {
	border: 0;
}
#header_container .cco_search_header #MainSearchForm {
    background: transparent;
}
#header_container .cco_search_header .co_global_input {
    background: transparent;
}



/**************
**** MENU *****
**************/

/* MENU _ FIRST LEVEL */
body .co_menu_container, body.cco_body .co_menu_container {
	background: none;
	background: #003a4c;
	background: -moz-linear-gradient(top,  #003a4c 0%, #00303f 100%);
	background: -webkit-linear-gradient(top,  #003a4c 0%,#00303f 100%);
	background: linear-gradient(to bottom,  #003a4c 0%,#00303f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a4c', endColorstr='#00303f',GradientType=0 );
}
body>#header #co_menu_container {
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

body #tabContentMain .co_menu_item, body.cco_body #tabContentMain .co_menu_item {
	background: none;
}
body #tabContentMain .co_menu_item.hover, body.cco_body #tabContentMain .co_menu_item.hover, body #tabContentMain .co_menu_item.selected, body.cco_body #tabContentMain .co_menu_item.selected {
	background-image: none;
	background: #e8f7f2;
	background: -moz-linear-gradient(top,  #e8f7f2 0%, #cae4db 100%);
	background: -webkit-linear-gradient(top,  #e8f7f2 0%,#cae4db 100%);
	background: linear-gradient(to bottom,  #e8f7f2 0%,#cae4db 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7f2', endColorstr='#cae4db',GradientType=0 );
}
.co_menu_item a.bg_extension {
	background: none;
}

body #tabContentMain .co_menu_item_divider, body.cco_body #tabContentMain .co_menu_item_divider {
	display: none;
}
body #tabContentMain .co_menu_home_image, body.cco_body #tabContentMain .co_menu_home_image, body #tabContentMain .co_menu_home_image.hover, body.cco_body #tabContentMain .co_menu_home_image.hover {
	background: none;
}
body #tabContentMain .co_menu_item span.parent a, body.cco_body #tabContentMain .co_menu_item span.parent a {
	color: #cae4db;
}
body #tabContentMain .co_menu_item.hover span.parent a, body.cco_body #tabContentMain .co_menu_item.hover span.parent a, body #tabContentMain .co_menu_item.selected span.parent a, body.cco_body #tabContentMain .co_menu_item.selected span.parent a {
	color: #00303f;
}
/* ARROW*/
body #co_menu_container #tabContentMain .co_menu_item.arrow span.parent {
	background: none;
}
body #co_menu_container #tabContentMain .co_menu_item.arrow.hover span.parent, body #co_menu_container #tabContentMain .co_menu_item.arrow.selected span.parent {
	background:url('https://chabadorg.clhosting.org/media/images/996/fUsO9966982.png') no-repeat right 12px center !important;
}

/* MENU - LEVEL 2 */

body #co_menu_container .co_menu_item.multi_level .co_submenu_container a.item {
	border: none !important;
	font-weight: normal;
}
#tabContentMain .co_menu_item.arrow .co_submenu_container a.item span {
	color: #00303f;
}
.co_menu_item.multi_level .co_submenu_container .column_wrapper {
	background: #e9f2ef;
}
body.cco_body #tabContentMain .co_menu_item.multi_level .co_submenu_container a.item.hover, body.cco_body #tabContentMain .co_menu_item.multi_level .co_submenu_container a.item:hover {
	background-color: #7a9d96;
	font-weight:normal;
	border: none;
}
.co_menu_item .co_submenu_container {
	-moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}



/***********
***HOMEPAGE ****
*********/

/* SLIDERS */
.promo_slider .cycle-directionNav a {
    background: url('https://chabadsutton.clhosting.org/media/images/996/yvwB9969806.png') no-repeat 0 0;
}
.promo_slider a.cycle-nextNav {
    background-position: -75px 0;
}
.promo_slider .cycle-controlNav a {
    background: url('https://chabadsutton.clhosting.org/media/images/996/yvwB9969806.png') no-repeat -447px -17px;
}
.g960>.main {
    padding-top: 0;
}

/* SLIDERS OVERLAY */
.promo_slider .cycle-caption {
    background: -moz-linear-gradient(45deg,  rgba(202,228,219,0.37) 0%, rgba(163,193,185,1) 49%, rgba(122,157,150,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(202,228,219,0.37) 0%,rgba(163,193,185,1) 49%,rgba(122,157,150,1) 100%);
	background: linear-gradient(45deg,  rgba(202,228,219,0.37) 0%,rgba(163,193,185,1) 49%,rgba(122,157,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ecae4db', endColorstr='#7a9d96',GradientType=1 );
}
.promo_slider .cycle-caption p big {
    color: #00303f;
}

[class^="widget-"] a.readMore, [class^="widget-"] .buttonStyle1, [class^="widget-"].latest_photos a.readMore span {
	background: #dcae1d;
	border-color: #cae4db;
	text-shadow: none;
	box-shadow: none;
	color: white;
}
[class^="widget-"] a.readMore:hover, [class^="widget-"] .buttonStyle1:hover, [class^="widget-"].latest_photos a.readMore:hover span {
	background: #7a9d96;
	border-color: #cae4db;
	text-shadow: none;
	box-shadow: none;
	color: #00303f !important;
}
.widget-4 .wrapper {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
[class^="widget-"] div.wrapper {
    background: #f9f9f9;
}
.widget-4 .widget_header, .widget-4.tabs .nested_template div.header, .sneak_peek div.wrapper {
	background: rgb(105,135,134);
	background: -moz-linear-gradient(top,  rgba(105,135,134,1) 1%, rgba(122,157,150,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(105,135,134,1) 1%,rgba(122,157,150,1) 100%);
	background: linear-gradient(to bottom,  rgba(105,135,134,1) 1%,rgba(122,157,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#698786', endColorstr='#7a9d96',GradientType=0 );
	border: 0;
}
[class^="widget-"] a {
    color: #00303f;
}
[class^="widget-"] a:hover {
    text-decoration: none;
}


.widget-4, .sneak_peek {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/***********
**** INNER PAGE **
************/

/*** TITLE */
.content_title_container .content_title, .content_title_container h1 {
	color: #00303F;
}
.content_title_container .overlay {
	background: none;
}

/* TOOLS */
.co_body_toolbar, .small_header_alt {
    background-color: transparent;
    border-bottom: 1px solid #dcae1d;
}
.co_body_toolbar #pinterestContainer, .co_body_toolbar #twitterContainer {
    display: none;
}
.page_tools.top .co_body_toolbar {
    margin-top: -22px;
}

/**************
**** FOOTER *****
**************/
.footer_text, .footer_text a {
	color: #003a4c;
}

